@page
@model HerokuTest1.Pages.Data.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestItem[0].Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.TestItem != null)
{
    foreach (var item in Model.TestItem)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>

<form asp-page-handler="ConvertConnectionString">
    <label>DATABASE_URL (from heroku)</label>
    <input type="text" name="database_url" value="@Model.HerokuDatabaseUrl" />
    <button type="submit">Convert</button>
    <table>
        <tr>
            <td>.Net Connection String</td>
            <td>@Model.DotNetConnectionString</td>
        </tr>
        <tr>
            <td>PSQL Connection Command</td>
            <td>@Model.PsqlConnectionCommand</td>
        </tr>
    </table>
</form>
